
.create-post {
    width:100%;
    background-color:#FAF3E0;
    padding: 15px;
    border-color: black;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    margin :20px;
    margin-right: 10px;
}
.post-input {
    width: 100%;
    height:100px;
    border: 20px;
    background-color: rgb(220, 220, 202);
    margin-bottom: 16px;
}
.post-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.add-to-post{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.add-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.add-btn img {
    width: 30px;
    height: 30px;
   
}

.post-btn {
    width: 50%;
    margin-top: 16px;
    margin-right: 150px;
    background-color: #014D4E;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.post-btn:hover {
    cursor: pointer;
    background-color: #01393a;
}

