.progress-container {
    width: 100%;
    min-width: 100px;
    height: 7.25px;
    background-color: #ddd9d9;
    border-radius: 5px;
   
    margin: 10px 10px ;
  }
  
  .progress-bar {
    height: 100%;
    background-color:#014D4E;
    width: 0;  
  }