.reviews-container{
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 2%;
  }
  .reviwes-item{
      display: flex;
      flex-direction: column;
     width: 50%;
     margin-right: 2%;
  }
  .reviews-star{
      width: 50%;
    display: flex;
    flex-direction: column;
   
   
  }
  .reviwes-star-item{
    display: flex;
  }
.reviwes-bar{
    display: flex;
    flex-direction: row;
}