/***************BookDetails*********************/
:root{
  --color1: #FAF3E0;
  --color2: #014D4E;
  --color3: #007BA7;
  --color4: #556B2F;
  --color5: #800000;
  --color6: #36454F;
  --color7: #D4AF37;
  }

.book-details-container{
    width: 80%;
    min-height: 90%;
    top: 111.25px;
    right: 250px;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 0;
    background-color:#FAF3E0 ;
    
  }
  .image-container{
    display: flex;
    background:linear-gradient(Var(--color1),Var(--color2),Var(--color1));
    height: 800;
    width:600 ;
    justify-content: center;
  }
  .cover-image{
    height: 80%;
    width:40% ;
    align-self: center;
    border :1px;
    border-radius: 0.3rem;
    margin-top: 10%;
  }
  .split{
    margin:10px  0 10px 0 ;
  }
  .text{
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 10px;
    color: Var(--color2);
  }
 
  .Add-review{
    height:50px;
    width: 550px;
    margin-bottom: 1%;
    margin-right: 10%;
    background-color: Var(--color7);
    border: Var(--color7);
  }
  .Add-review:hover{
    background-color: Var(--color2);
    border:  Var(--color2);
  }
  .Read{
    height:50px;
    width: 550px;
    margin-bottom: 1%;
    margin-right: 10%;
    background-color:Var(--color2);
    border: Var(--color2);
  }
  .Read:hover{
    background-color: Var(--color7);
    border: Var(--color7);
  
  }
  .book-title{
    color: #253609;
    margin-top: auto;
  }
  .book-desc{
    color: #253609;
    margin-top: auto;
    margin-bottom: auto;
   
  }
  .book-details{
    background:Var(--color1);
    justify-content: center;
    text-align: center;
    margin: 0;
  }