*{
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
:root{
--color1: #FAF3E0;
--color2: #014D4E;
--color3: #007BA7;
--color4: #556B2F;
--color5: #800000;
--color6: #293d4b;
--color7: #D4AF37;
}
/*****Library contaainer******/

.library-container {
 display: flex;
 flex-direction: row;
  height: 100vh;
  flex-wrap: nowrap;
  background:white;
}
.library-sidebar{
  position: fixed;
  top: 111.25px; 
  /* the height of the navbar */
  /* margin-top: 111.25px; */
  right: 0; 
  height: 100vh;
  width: 250px;
  background-color: #FAF3E0;
  color: #014D4E;
} 
.rows{
  display: flex;
  flex-direction: column;
}
.columns{
 display: flex;
flex-direction: row;
}
.main-content { 
  margin-top: 180.25px; 
  margin-right:260px;
  display: flex;
  flex-direction: row;
  padding: 1rem;
 flex-wrap: wrap;
 gap:2%;
}
/*******Rate*/
.rating-form {
  height:50px;
  width: 550px;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-icons{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    width: 500;
}
.edit{
align-self: flex-start;
margin-bottom: 0%;

}
.delete-icon{
  align-self: flex-end;
  margin-bottom: 5%;

  }

/************************Responsive**********************/
@media (min-width: 768px) {
  
}


